/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* End of reset */


html, body {
	width: 100%;
	height: 100%;
}
body { background-color: white; font-family: Helvetica, Arial, sans-serif; margin: 0px; padding: 0px; background-color: white; }
h1 { line-height: 0.8em; font-size: 3em; position:relative; padding-left: 3.8em; color: black; }
a { color: inherit; }

#cover {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 1;
	transition: opacity 0.5s ease-in;
	-webkit-transition: opacity 0.5s ease-in;
	z-index: 1000;
}
.moreinfo {
	position: absolute;
	z-index: 1000;
	background-color: black;
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	text-align: center;
	overflow-x: hidden;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*transition: left 0.15s ease, top 0.15s ease, width 0.15s ease, height 0.15s ease, font-size 0.15s ease;*/
}
.moreinfo .close {
	font-size:1.5em;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.2em 0.25em;
	cursor: pointer;
	z-index: 10;
}
.dashboard {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	overflow: hidden;
}
.panels {
	position: relative;
	vertical-align: top;
	display: grid;
	width: 100%;
	height: 100%;
	padding-top: calc(3em + 25px);
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
}
.panels li {
	display: block;
	width: 100%;	/* 8 columns for wide screens */
	height: 100%;
	margin: 0px;
}
.box {
	height: 100%;
	position: relative;
	display: table;
	width: 100%;
}
.dashboard .panel .more {
	display: none;
}
.moreinfo .panel .less {
	display: none;
}
.panel {
	display: table-cell;
	vertical-align: middle;
	color: inherit;
	text-align: center;
	transition: font-size 0.3s ease-in;
}
.panel .number, .moreinfo .number {
	position: relative;
	line-height: 1em;
	margin: auto;
	text-align: center;
	display: block;
	font-size: 6em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.panel .title, .moreinfo .title {
	display: block;
	line-height: 1em;
	font-size: 1.8em;
	margin-bottom: 0.5em;
	font-weight: 700;
}
.panel .updated, .moreinfo .updated {
	left: 0px;
	position: absolute;
	bottom: 0.25em;
	font-size: 0.8em;
	width: 100%;
	text-align: center;
	color: inherit;
	line-height: 1.5em;
	opacity: 0.2;
}
.panel:hover .updated,.panel:hover .title {
	opacity: 1;
}
.panel .updated a {
	text-decoration: none;
	color: inherit;
}
.panel:hover .updated a {
	text-decoration: underline;
}
.panel:hover .number {
	font-size: 7.2em;
}
.panel .icons, .panel .list {
	width: 90%;
	margin: auto;
	text-align: center;
}
.panel .icons a { display: block; width: 100%; padding: 0 0.25em; line-height: 0; }
ol.grid {
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 8px;
	width: 100%;
	list-style: none;
}
ol.grid > li > a { display: table!important; text-decoration: none; }
.panel .list a { display: block; width: 100%; padding: 0; }
.panel .icons img { width: 100%; }
.panel .icons img:hover,.panel .icons svg:hover { background-color: rgba(255,255,255,0.3); }
.sponsors .grid { grid-template-columns: repeat(5, 1fr); }
.partners .grid { grid-template-columns: repeat(6, 1fr); }
.blog .grid .panel, .projects .grid .panel { padding: 1em; }
.graph {
	width: 90%;
	display: block;
	margin: auto;
	margin-top: 1em;
	text-align: center;
	position: relative;
}
.graph table {
	width: 90%;
	margin-bottom: 0.5em;
}
.graph table td {
	border-right: 1px solid transparent;
	position: relative;
	padding-bottom: 1.5em;
}
.graph table .bar {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid white;
}
.graph table .bar .fade {
	position: absolute;
	top: -1em;
	width: 100%;
	height: 1em;
	background: linear-gradient(0deg,black,transparent);
}
.graph table .date {
	position: absolute;
	left: 0px;
	border-left: 1px solid white;
	padding-left: 0.25em;
	padding-top: 0.25em;
}
.graph .grid {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.graph .grid .line {
	width: 100%;
	border-bottom: 1px solid white;
	opacity: 0.5;
	position: absolute;
	text-align: right;
}
.graph .grid .line span {
}
header { padding: 16px 16px 10px 16px; }
header h1 img { position: absolute; top: -45%; left: -1em; height: 2em; }
select#range {
	height: 1.5em;
	line-height: 1.5em;
	font: inherit;
	font-size: 0.6em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid transparent !important;
	border-radius: 4px;
	background-color: black;
	cursor: pointer;
	background: url('dropdown.svg') no-repeat right center;
	background-size: 1em 100%;
	padding-right: 1em;
	color: inherit;
}
select#range option {
	background-color: inherit;
	color: inherit;
}
select#range:hover, select#range:focus {
	border: 1px solid rgba(0,0,0,0.4)!important;
}
p.more { font-size: 0.8em; margin-bottom: 1em; }


.c1-bg { background-color: #2254F4; color: white; }
.c2-bg { background-color: #178CFF; color: white; }
.c3-bg { background-color: #00B6FF; color: black; }
.c4-bg { background-color: #08DEF9; color: black; }
.c5-bg { background-color: #1DD3A7; color: black; }
.c6-bg { background-color: #0DBC37; color: black; }
.c7-bg { background-color: #67E767; color: black; }
.c8-bg { background-color: #722EA5; color: white; }
.c9-bg { background-color: #E6007C; color: white; }
.c10-bg { background-color: #EF3AAB; color: white; }
.c11-bg { background-color: #D73058; color: white; }
.c12-bg { background-color: #D60303; color: white; }
.c13-bg { background-color: #FF6700; color: black; }
.c14-bg { background-color: #F9BC26; color: black; }
.b1-bg { background-color: #000000; color: white; }
.b2-bg { background-color: #333333; color: white; }
.b3-bg { background-color: #999999; color: white; }
.bordered { background-color: rgba(0,0,0,0.05); }

.c3-bg .graph table .bar,
.c5-bg .graph table .bar,
.c6-bg .graph table .bar,
.c7-bg .graph table .bar,
.c13-bg .graph table .bar,
.c14-bg .graph table .bar { background-color: black; border-bottom: black; }

.c3-bg .graph .grid .line,
.c5-bg .graph .grid .line,
.c6-bg .graph .grid .line,
.c7-bg .graph .grid .line,
.c13-bg .graph .grid .line,
.c14-bg .graph .grid .line { border-color: black; }

.c3-bg .graph table .date,
.c5-bg .graph table .date,
.c6-bg .graph table .date,
.c7-bg .graph table .date,
.c13-bg .graph table .date,
.c14-bg .graph table .date { border-color: black; }

.moreinfo .panel li svg { width: 100%; height: auto; }
.moreinfo .panel .icons li > a > div { line-height: 0; }


@media only screen and (max-width: 3000px) {
	.panels { grid-template-columns: repeat(8, 1fr); }
}
@media only screen and (max-width: 2600px) {
	.panels, .grid { grid-template-columns: repeat(4, 1fr); }
}
@media only screen and (max-width: 2000px) {
	body { font-size: 1.25em; }
	.panels, .grid { grid-template-columns: repeat(3, 1fr); }
}
@media only screen and (max-width: 1700px) {
	body { font-size: 1em; }
	.panels li { font-size: 1em; }
}
@media only screen and (max-width: 1280px) {
	.panel { padding: 24px; }
}
@media only screen and (max-width: 1000px) {
	.panels, .grid { grid-template-columns: repeat(2, 1fr); }
	.empty { display: none; }

	.sponsors .grid { grid-template-columns: repeat(3, 1fr); }
	.partners .grid { grid-template-columns: repeat(3, 1fr); }

}
@media only screen and (max-width: 700px) {
	body { font-size: 0.8em; }
}
@media only screen and (max-width: 500px) {
	header {
		padding: 0.5em 0.4em 0em 0.4em;
	}
	header h1 {
		padding-left: 0px;
	}
	header h1 img {
		display: block;
		position: relative;
		left: 0px;
		top: 0px;
		height: 1.5em;
		margin: auto;
	}
	select#range {
		width: 100%;
	}
	.panels {	padding-top: 8.5em; grid-template-columns: 100%; }
	.dashboard-inner { grid-template-rows: auto 1fr; }
	.panel { padding: 24px; vertical-align: top; }
	.panel .number, .panel:hover .number { font-size: 8em; }
	.panel .updated { opacity: 1; }
	.panel .title, .moreinfo .title { font-size: 27px; }
	p.more { font-size: 16px; }
	.panel .icons, .panel .list { width: 100%; }
	.moreinfo .panel li svg { width: 100%; }
}
@media only screen and (max-height: 800px) {
	li { font-size: 0.8em; }
}
@media only screen and (max-height: 640px) {
	li { font-size: 0.6em; }
}

@media only screen and (max-width: 370px) {
	.panel .number, .panel:hover .number { font-size: 6em; }
	p.more { display: none; }
	.moreinfo .panel .icons li { width: 100%; }
}
@media only print and (max-width: 21cm) {
	header { display: none; }
	.main { padding: 0px; }
	.dashboard { padding-top: 0px; margin-top: -3px; }
	.panels { grid-template-rows: repeat(3, 1fr); grid-template-rows: 208px; }
	.panel .number, .moreinfo .number { font-size: 4em; }
	.panel .title, .moreinfo .title { font-size: 1.5em; }
	.updated { display: none; }
}